* {
text-align: center;
}
    
#wholeboxA {
width:45%;
height:45%
max-width:45%; 
max-height:45%;
padding:10px;
border:1px black;
background-color:red;
} 
#headerA {
max-width:100%; 
max-height:100%;
padding:25px;
background-color:green;
} 
#contentA {
max-width:100%; 
max-height:100%;
padding:25px;
background-color:blue;
} 

.flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
